#Body {
  font-style: italic;
  Color: blue;
}
#Button {
  margin-top: 20px;
  color: white;
  background-color: blue;
  width: 150px;
  height: 30px;
  font-size: large;
  font-weight: bold;
  outline: auto;
  font-style: italic;
  text-align: center;
}
